{{> header}}

<form id="usage-form" style="margin: 1rem;">

    <style>
        .label {
            margin-left: 1rem;
            min-width: 10rem;
        }
        .input {
            margin-left: 1rem;
            min-width: 20rem;
        }
        .spacer {
            flex-grow: 1;
        }
    </style>

    <div class="form-group row">
        <label for="inputDate" class="col-form-label label">Date</label>
        <div class="input">
            <input type="date" class="form-control" id="inputDate" name="date" min="{{minDate}}" max="{{maxDate}}">
        </div>
        <div class="spacer"></div>
    </div>

    <div class="form-group row">
        <label for="inputRadler" class="col-form-label label">Radler</label>
        <div class="input">
            <input type="number" min="0" class="form-control" id="inputRadler" name="radler">
        </div>
        <div class="spacer"></div>
    </div>

    <div class="form-group row">
        <label for="inputPils" class="col-form-label label">Lager</label>
        <div class="input">
            <input type="number" min="0" class="form-control" id="inputPils" name="pils">
        </div>
        <div class="spacer"></div>
    </div>

    <div class="form-group row">
        <label for="inputWijn" class="col-form-label label">Wine</label>
        <div class="input">
            <input type="number" min="0" class="form-control" id="inputWijn" name="wijn">
        </div>
        <div class="spacer"></div>
    </div>

    <div class="form-group row">
        <label for="inputSpeciaalBier" class="col-form-label label">Specialty beer</label>
        <div class="input">
            <input type="number" min="0" class="form-control" id="inputSpeciaalBier" name="speciaal-bier">
        </div>
        <div class="spacer"></div>
    </div>

    <div class="form-group row">
        <label for="inputBorrel" class="col-form-label label">Liquor</label>
        <div class="input">
            <input type="number" min="0" class="form-control" id="inputBorrel" name="borrel">
        </div>
        <div class="spacer"></div>
    </div>

</form>

<script>

    let dates = convertXtoDates({{epochDays}});
    let radler = {{radler}};
    let pils = {{pils}};
    let wijn = {{wijn}};
    let speciaalBier = {{speciaalBier}};
    let borrel = {{borrel}};

    function updateBeverageControls(dateString) {
        const date = new Date(dateString);
        const isDateToFind = (element) => element.getTime() === date.getTime();
        const index = dates.findIndex(isDateToFind);
        document.querySelector('#inputRadler').value = radler[index];
        document.querySelector('#inputPils').value = pils[index];
        document.querySelector('#inputWijn').value = wijn[index];
        document.querySelector('#inputSpeciaalBier').value = speciaalBier[index];
        document.querySelector('#inputBorrel').value = borrel[index];
    }

    function postUsageForm() {
        let formData = {
            'date': document.querySelector('#inputDate').value,
            'radler': document.querySelector('#inputRadler').value,
            'pils': document.querySelector('#inputPils').value,
            'wijn': document.querySelector('#inputWijn').value,
            'speciaalbier': document.querySelector('#inputSpeciaalBier').value,
            'borrel': document.querySelector('#inputBorrel').value
        };

        fetch('/alcoholdays', {
            method: 'POST',
            headers: new Headers({'content-type': 'application/x-www-form-urlencoded; charset=UTF-8'}),
            body: `date=${formData.date}&radler=${formData.radler}&pils=${formData.pils}&wijn=${formData.wijn}&speciaal-bier=${formData.speciaalbier}&borrel=${formData.borrel}`
        }).then((response) => response.json())
                .then((data) => console.log(data))
                .catch((error) => showError(error.responseJSON.message));
    }

    document.querySelector('#inputDate').addEventListener('change', event => updateBeverageControls(document.querySelector('#inputDate').value));
    document.querySelector('#inputDate').value = dates[dates.length - 1].toISOString().split('T')[0];
    document.querySelector('#inputDate').dispatchEvent(new Event('change'));

    document.querySelector('#inputRadler').addEventListener('change', event => postUsageForm());
    document.querySelector('#inputPils').addEventListener('change', event => postUsageForm());
    document.querySelector('#inputWijn').addEventListener('change', event => postUsageForm());
    document.querySelector('#inputSpeciaalBier').addEventListener('change', event => postUsageForm());
    document.querySelector('#inputBorrel').addEventListener('change', event => postUsageForm());

</script>

{{> footer}}