<html>
<head>
    <title>Alcoholusage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="icon"
          type="image/png"
          href="/favicon.ico"/>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1f77b4;">
    <a class="navbar-brand" href="/">
        <img src="/img/alcohol.png" alt=""
             style="
             width: 3rem;
             margin-right: 1rem;">
        Alcoholusage
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav rightContainer ml-auto">
            <a class="nav-item nav-link active" href="/usage">Usage</a>
            <a class="nav-item nav-link active" href="/alcoholdays">Alcoholdays</a>
        </div>
    </div>
</nav>

<div class="alert alert-danger" role="alert-error" id="alert-error" style="margin: 0.2rem; display: none;">
</div>

<script>

    function showError(message) {
        document.querySelector('#alert-error').innerHTML = message;
        document.querySelector('#alert-error').style.display = 'block';
        setTimeout(() => document.querySelector('#alert-error').style.display = 'none', 5000);
    }

    function convertXtoDates(xValues) {
        return xValues.map(epochDay => new Date(epochDay * 1000 * 60 * 60 * 24));
    }

    function plotGraph(dates, usagePerDay, movingAverage7, movingAverage30, movingAverage100, layout) {
        const plot = document.querySelector('#plot');

        const barData = {
            x: dates,
            y: usagePerDay,
            name: 'Units per day',
            type: 'bar'
        };

        const movingAverage7Data = {
            x: dates,
            y: movingAverage7,
            name: 'Moving average (7d)',
            type: 'scatter'
        }

        const movingAverage30Data = {
            x: dates,
            y: movingAverage30,
            name: 'Moving average (30d)',
            type: 'scatter'
        }

        const movingAverage100Data = {
            x: dates,
            y: movingAverage100,
            name: 'Moving average (100d)',
            type: 'scatter'
        }

        const data = [barData, movingAverage7Data, movingAverage30Data, movingAverage100Data];

        Plotly.plot(plot, data, layout, { responsive: true });
    }

    function isMobile() {
        const toMatch = [
            /Android/i,
            /webOS/i,
            /iPhone/i,
            /iPad/i,
            /iPod/i,
            /BlackBerry/i,
            /Windows Phone/i
        ];

        return toMatch.some((toMatchItem) => {
            return navigator.userAgent.match(toMatchItem);
        });
    }

</script>
