{{> header}}
<div id="plot" style="
width:100%;
height:85vh;
margin-top: 10vh;
"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

    const fontSize = isMobile() ? 30 : 13;
    const tickNumber = isMobile() ? 4 : 0;
    const layout = {
        title: 'Alcohol usage (6 months)',
        xaxis: {
            tickformat: '%b %d, %Y',
            nticks: tickNumber
        },
        font: {
            size: fontSize
        },
        hoverlabel: {
            font: {
                size: fontSize
            }
        },
        legend: {
            x: 1,
            y: 1,
            xanchor: 'right'
        }
    };

    const dates = convertXtoDates({{epochDays}});
    plotGraph(dates, {{usagePerDay}}, {{movingAverage7}}, {{movingAverage30}}, {{movingAverage100}}, layout);

</script>

{{> footer}}
