{{> header}}
<div id="plot" style="
width:100%;
height:85vh;
margin-top: 10vh;
"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

    const fontSize = isMobile() ? 30 : 13
    const tickNumber = isMobile() ? 5 : 0;
    const layout = {
        title: 'Alcohol usage (all)',
        xaxis: {
            tickformat: '%b %d, %Y',
            nticks: tickNumber,
            autorange: false,
            range: ['{{minDate}}', '{{maxDate}}'],
            rangeselector: {
                buttons: [
                    {
                        count: 6,
                        label: '6m',
                        step: 'month',
                        stepmode: 'todate'
                    },
                    {
                        count: 1,
                        label: '1y',
                        step: 'year',
                        stepmode: 'todate'
                    },
                    {
                        count: 2,
                        label: '2y',
                        step: 'year',
                        stepmode: 'todate'
                    },
                    {step: 'all'}
                ]
            },
            rangeslider: {},
            type: 'date'
        },
        font: {
            size: fontSize
        },
        hoverlabel: {
            font: {
                size: fontSize
            }
        },
        legend: {
            x: 1,
            y: 1,
            xanchor: 'right'
        }
    };

    const dates = convertXtoDates({{epochDays}});
    plotGraph(dates, {{usagePerDay}}, {{movingAverage7}}, {{movingAverage30}}, {{movingAverage100}}, layout);

</script>

{{> footer}}
